pkgbase = netease-cloud-music-unblock-enhanced-git
	pkgdesc = Revive unavailable songs for Netease Cloud Music (Refactored & Enhanced version)
	pkgver = r1119.e35da5b
	pkgrel = 2
	url = https://github.com/UnblockNeteaseMusic/server
	arch = x86_64
	license = LGPL3
	depends = nss
	depends = nodejs
	depends = netease-cloud-music
	provides = netease-cloud-music-unblock-enhanced
	conflicts = netease-cloud-music-unblock-enhanced
	source = git+https://github.com/UnblockNeteaseMusic/server
	source = netease-cloud-music-unblock-enhanced
	source = netease-cloud-music-unblock-enhanced.desktop
	sha512sums = SKIP
	sha512sums = 36144054004de9cac865f1841c618b400069f87f112b9733e93939a8f4fb470787f4417f6fdcd51ab1511eda53e4907b09ea6a0fbbeadb249831501a4a526aaf
	sha512sums = 2ced99b57fefee96babf3b3223b40b9a398807255d620295d26c0f714ce6bf2ffa97c787c7dcd0257ba0c56a5568dfa4cf33c53cb1f3d6763094e13c3a905de4

pkgname = netease-cloud-music-unblock-enhanced-git
