pkgbase = music-you-git
	pkgdesc = 一个美观简约的 Material You 风格网易云音乐播放器 PC 客户端
	pkgver = 2.0.8
	pkgrel = 1
	url = https://github.com//GuMengYu/music-you
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = yarn
	makedepends = jq
	depends = electron
	depends = libappindicator-gtk3
	source = music-you::git+https://github.com//GuMengYu/music-you.git#branch=dev
	source = music-you.desktop
	source = music-you.sh
	sha256sums = SKIP
	sha256sums = 92c1c295b556862d99bb38110cb1f5a528e969fec52073007ff23c0f84066d6a
	sha256sums = d15b73684ccb6eb3499fd2128afd3bd18440327e02a8b1fa6a764501e0b5077a

pkgname = music-you-git
