[Desktop Entry]
Name=Music You
Comment=一个美观简约的 Material You 风格网易云音乐播放器 PC 客户端
GenericName=Music You
Exec=music-you %U
Icon=v-player-music-you
Type=Application
Categories=AudioVideo;Player;
Terminal=false
StartupNotify=true
