pkgbase = plasma-emojier5
	pkgdesc = Emoji selector component from KDE Plasma Desktop 5 with some personal tweaks
	pkgver = 5.27.10
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	license = LGPL
	makedepends = qt5-declarative
	makedepends = extra-cmake-modules
	source = https://download.kde.org/stable/plasma/5.27.10/plasma-desktop-5.27.10.tar.xz
	source = CMakeLists.patch
	source = plasma-emojier5
	sha256sums = de015fc921d34da23d85998a03afa7c81d935f5d9c55261ff7a2b413c9cfd09f
	sha256sums = 02289a69bfd1095e5007ad5a1a72f29db3b62d5924db4220cef4cd82335a4da2
	sha256sums = 8297115485ad59c7cc47795eff1990b465de0c5d8216e7e6f87695d26fa9bd29

pkgname = plasma-emojier5
