pkgbase = kwin-fix-krash
	pkgdesc = An easy to use, but flexible, composited Window Manager - fix Krash bug.
	pkgver = 5.26.1
	pkgrel = 2
	url = https://kde.org/plasma-desktop/
	install = kwin.install
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = kdoctools
	makedepends = krunner
	makedepends = wayland-protocols
	makedepends = plasma-wayland-protocols
	makedepends = python
	depends = kscreenlocker
	depends = xcb-util-cursor
	depends = plasma-framework
	depends = kcmutils
	depends = breeze
	depends = pipewire-session-manager
	depends = libqaccessibilityclient
	depends = lcms2
	depends = libxcvt
	optdepends = maliit-keyboard: virtual keyboard for kwin-wayland
	provides = kwin
	conflicts = kwin
	replaces = kwayland-server
	replaces = kwin
	source = https://download.kde.org/stable/plasma/5.26.1/kwin-5.26.1.tar.xz
	source = 0001-Make-damage-region-fetching-code-more-robust-to-errors.patch
	sha256sums = c3acc4b7ada4191780ea64f03ed9fa249a0c17af0040c0fc29d6bd6aeb8f7fa3
	sha256sums = 2f3766f066d328c2a7a97e6092072ef9cc8f0fde10c68af98711be7a3dc659f2

pkgname = kwin-fix-krash
